# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/
.poetry/
.env
*.md

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Misc
*.bak
*.tmp
src/assets/*